<div *ngIf="this.ingredients" class="ingredients-list">
  <p>All ingredients</p>
  <div *ngFor="let ingredient of ingredients" class="table">
    <div class class="row">
     {{ingredient.name}}
    </div>
  </div>
</div>

<div>
  <p>
    <label for="new-ingredient">Ingredients name: </label>
    <input id="new-ingredient" #ingredientName />
  </p>
  <div class="button">
    <button (click)="add(ingredientName.value); ingredientName.value=''">
      Add ingredient
    </button>
  </div>
</div>
